In [1]:
# Import definition
from scipy.io import arff
import pandas as pd

In [2]:
# Loading dataset into working desk
data = arff.loadarff('breast.w.arff')
df = pd.DataFrame(data[0])

df.head()

,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epi_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,5.0,1.0,1.0,1.0,2.0,1.0,3.0,1.0,1.0,b'benign'
1,5.0,4.0,4.0,5.0,7.0,10.0,3.0,2.0,1.0,b'benign'
2,3.0,1.0,1.0,1.0,2.0,2.0,3.0,1.0,1.0,b'benign'
3,6.0,8.0,8.0,1.0,3.0,4.0,3.0,7.0,1.0,b'benign'
4,4.0,1.0,1.0,3.0,2.0,1.0,3.0,1.0,1.0,b'benign'

In [9]:
input_var = {
    "y1": [0.6, 0.1, 0.2, 0.1, 0.3, -0.1, -0.3, 0.2, 0.4, -0.2],
    "y2": ["A", "B", "A", "C", "B", "C", "C", "B", "A", "C"],
    "y3": [0.2, -0.1, -0.1, 0.8, 0.1, 0.2, -0.1, 0.5, -0.4, 0.4],
    "y4": [0.4, -0.4, 0.2, 0.8, 0.3, -0.2, 0.2, 0.6, -0.7, 0.3],
    "class": [0, 0, 0, 0, 1, 1, 1, 1, 1, 1]
}

new_df = pd.DataFrame.from_dict(input_var)
new_df[0:4].head()

    y1 y2   y3   y4  class
0  0.6  A  0.2  0.4      0
1  0.1  B -0.1 -0.4      0
2  0.2  A -0.1  0.2      0
3  0.1  C  0.8  0.8      0

In [10]:
new_df[0:4].std()

/tmp/ipykernel_20108/3964912560.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  new_df[0:4].std()

y1       0.238048
y3       0.424264
y4       0.500000
class    0.000000
dtype: float64

In [11]:
new_df[0:4].mean()

/tmp/ipykernel_20108/3437469221.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  new_df[0:4].mean()

y1       0.25
y3       0.20
y4       0.25
class    0.00
dtype: float64